<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div
        class="modal-fade bd-example-modal-lg col-10 col-md-7"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <div class="container">
          <div class="d-block text-center">
            <hr />
            <h2>Yeni Bir Maç Oluşturun</h2>
            <hr />
            <form>
              <label for="country">SAHA SEÇİNİZ</label>
              <div class="input-group">
                <select
                  class="custom-select"
                  id="areaPk"
                  v-model="areaPk"
                  name="areaPk"
                  aria-label="Example select with button addon"
                >
                  <option
                    v-for="area in areaList"
                    :key="area.pk"
                    v-bind:value="area.pk"
                  >
                    {{ area.name }}
                  </option>
                </select>
              </div>
              <hr />
              <div class="form-group">
                <label for="date">TARİH SEÇİNİZ</label>
                <input
                  id="date"
                  v-model="date"
                  type="date"
                  name="date"
                  class="form-control"
                />
              </div>
              <hr />
              <label for="firstTeamPk">1. TAKIMI SEÇİNİZ</label>
              <div class="input-group">
                <select
                  v-on:keyup="validateForm()"
                  class="custom-select"
                  id="firstTeamPk"
                  v-model="firstTeamPk"
                  name="firstTeamPk"
                  aria-label="Example select with button addon"
                  v-bind:class="{
                    'is-invalid':
                      !firstTeamPkIsValid && firstTeamPkIsValid !== null,
                  }"
                >
                  <option
                    v-for="team in teamList"
                    :key="team.pk"
                    v-bind:value="team.pk"
                  >
                    {{ team.name }}
                  </option>
                </select>
              </div>
              <hr />
              <div class="custom-control custom-checkbox mb-3">
                <input
                  v-on:change="check2team()"
                  v-model="findTeam"
                  name="findTeam"
                  type="checkbox"
                  class="custom-control-input"
                  id="findTeam"
                  required
                />
                <label
                  class="custom-control-label"
                  for="findTeam"
                >
                  Rakibiniz yoksa buraya tıklayın
                </label>
              </div>
              <hr />
              <label for="secondTeamPk">2. TAKIMI GİRİNİZ</label>
              <div class="input-group">
                <select
                  :disabled="checkbox"
                  class="custom-select"
                  id="secondTeamPk"
                  v-model="secondTeamPk"
                  name="secondTeamPk"
                  aria-label="Example select with button addon"
                >
                  <option
                    v-for="team in teamList"
                    :key="team.pk"
                    v-bind:value="team.pk"
                  >
                    {{ team.name }}
                  </option>
                </select>
              </div>
              <hr />
              <div class="form-group">
                <label for="currentPlayer"
                  >MEVCUT OYUNCU SAYISINI GİRİNİZ</label
                >
                <input
                  :disabled="isBusyPost"
                  id="currentPlayer"
                  v-model="currentPlayer"
                  type="number"
                  name="currentPlayer"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="missingPlayer">EKSİK OYUNCU SAYISINI GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  v-on:keyup="validateForm()"
                  id="missingPlayer"
                  v-model="missingPlayer"
                  type="number"
                  name="missingPlayer"
                  class="form-control"
                  v-bind:class="{
                    'is-invalid':
                      !missingPlayerIsValid && missingPlayerIsValid !== null,
                  }"
                  required
                />
                <div class="invalid-feedback">
                  Telefon numarası bölümünü boş bırakamazsınız.
                </div>
              </div>
              <button
                :disabled="!formIsValid"
                @click="postForm()"
                type="button"
                class="btn btn-primary"
              >
                <span v-if="!isBusyPost"> OLUŞTUR </span>
                <span v-if="isBusyPost" class="spinner-border"></span>
              </button>
              <button
                type="button"
                class="btn btn-danger ml-5"
                @click="close"
                aria-label="Close modal"
              >
                IPTAL
              </button>
              <hr />
            </form>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { postMatch } from "../../services/match";
import { getAllAreas } from "../../services/area";
import { getAllTeams } from "../../services/team";

export default {
  name: "modal",
  data() {
    return {
      isBusy: true,
      isBusyPost: false,
      formIsValid: false,
      checkbox: false,
      areaPk: null,
      date: null,
      firstTeamPk: null,
      findTeam: null,
      firstTeamPkIsValid: null,
      secondTeamPk: null,
      currentPlayer: null,
      missingPlayer: null,
      missingPlayerIsValid: null,
      errors: [],
      areaList: [],
      teamList: [],
      postRequestFailed: false,
      formData: new FormData(),
      hata: true,
    };
  },
  async created() {
    this.getAreas();
    this.getTeams();
  },
  methods: {
    close() {
      this.$emit("close");
    },

    check2team: function () {
      if (!this.findTeam) {
        this.checkbox = false;
      } else {
        this.checkbox = true;
      }
    },

    validateForm: function () {
      // this.validateFirstTeamPk();
      this.validateMissingPlayer();
      if (this.missingPlayer) {
        this.formIsValid = true;
        return true;
      } else {
        this.formIsValid = false;
        return false;
      }
    },
    /**
     * name validation
     */
    validateFirstTeamPk: function () {
      if (this.firstTeamPk === null) return;
      if (this.firstTeamPk) {
        this.firstTeamPkIsValid = true;
      } else {
        this.firstTeamPkIsValid = false;
      }
    },
    /**
     * missing player validation
     */
    validateMissingPlayer: function () {
      if (this.missingPlayer === null) return;
      if (this.missingPlayer) {
        this.missingPlayerIsValid = true;
      } else {
        this.missingPlayerIsValid = false;
      }
    },

    // submitMatch: async function () {
    //   let formValidState;
    //   formValidState = this.validateForm();

    //   if (formValidState) {
    //     this.postForm();
    //   }
    // },

    postForm: async function () {
      let postResponse;
      let errors = [];
      this.formData.delete("areaPk");
      this.formData.delete("date");
      this.formData.delete("findTeam");
      this.formData.delete("firstTeamPk");
      this.formData.delete("secondTeamPk");
      this.formData.delete("currentPlayer");
      this.formData.delete("missingPlayer");

      if (
        this.areaPk &&
        this.date &&
        this.findTeam &&
        this.firstTeamPk &&
        this.secondTeamPk &&
        this.currentPlayer &&
        this.missingPlayer
      ) {
        this.formData.append("areaPk", this.areaPk);
        this.formData.append("date", this.date);
        this.formData.append("findTeam", this.findTeam);
        this.formData.append("firstTeamPk", this.firstTeamPk);
        this.formData.append("secondTeamPk", this.secondTeamPk);
        this.formData.append("currentPlayer", this.currentPlayer);
        this.formData.append("missingPlayer", this.missingPlayer);
        this.isBusyPost = true;

        postResponse = await postMatch(this.formData);

        this.isBusyPost = false;

        if (postResponse.error) {
          alert(postResponse.error);
          this.hata = false;
        } else {
          this.$emit("close");
        }
      }

      // ----------- Validate form data ----------- //
      if (!this.firstTeamPk) {
        errors.push("Team Name required.");
      }
    },
    async getAreas() {
      let areaData;
      this.isBusy = true;
      areaData = await getAllAreas();
      this.isBusy = false;
      if (areaData.error) {
        console.log(areaData.error);
      } else {
        this.areaList = areaData.data;
      }
    },
    async getTeams() {
      let teamData;
      this.isBusy = true;
      teamData = await getAllTeams();
      this.isBusy = false;
      if (teamData.error) {
        console.log(teamData.error);
      } else {
        this.teamList = teamData.data;
      }
    },

    filesChange(fieldName, fileList) {
      if (!fileList.length) return;
      this.formData.delete("image");
      this.formData.append(fieldName, fileList[0], fileList[0].name);
      this.validateForm();
    },
  },
};
</script>

<style scoped>
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(35, 169, 46);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-fade {
  height: 600px;
  background: #bcc6f5;
  box-shadow: 2px 2px 20px 10px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-header {
  border-bottom: 1px solid #eeeeee;
  color: #4aae9b;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.modal-body {
  position: fixed;
  padding: 20px 10px;
}

.btn-close {
  border: none;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #4aae9b;
  background: transparent;
}

.btn-green {
  color: white;
  background: #4aae9b;
  border: 1px solid #4aae9b;
  border-radius: 2px;
}
</style>
