<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div
        class="modal-fade bd-example-modal-lg col-10 col-md-7"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <div class="container">
          <div class="d-block text-center">
            <hr />
            <h2>Maç Röpörtajını Yükleyin</h2>
            <hr />
            <form>
              <div class="form-group">
                <label for="interview">RÖPÖRTAJLARI YAZINIZ</label>
                <input
                  :disabled="isBusyPost"
                  id="interview"
                  v-model="interview"
                  type="text"
                  name="interview"
                  class="form-control"
                  required
                />
              </div>
              <button
                :disabled="isBusyPost"
                @click="postForm()"
                type="button"
                class="btn btn-primary"
              >
                <span v-if="!isBusyPost"> OLUŞTUR </span>
                <span v-if="isBusyPost" class="spinner-border"></span>
              </button>
              <button
                type="button"
                class="btn btn-danger ml-5"
                @click="close"
                aria-label="Close modal"
              >
                IPTAL
              </button>
              <hr />
            </form>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { postForum } from "../../services/forum";
export default {
  name: "modal",
  data() {
    return {
      isBusy: true,
      isBusyPost: false,
      interview: null,
      formData: new FormData(),
    };
  },
  props: ["matchData"],

  methods: {
    close() {
      this.$emit("close");
    },
    // POST REQUEST
    postForm: async function () {
      let postResponse;
      console.log(this.matchData);
      this.formData.delete("interview");
      if (this.interview) {
        this.formData.append("interview", this.interview);
        this.isBusyPost = true;

        postResponse = await postForum(this.formData);

        this.isBusyPost = false;

        if (postResponse.error) {
          alert(postResponse.error);
        } else {
          this.$emit("close");
        }
      }
    },
    filesChange(fieldName, fileList) {
      if (!fileList.length) return;
      this.formData.append(fieldName, fileList[0], fileList[0].name);
    },
  },
};
</script>

<style scoped>
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(35, 169, 46);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-fade {
  height: 600px;
  background: #bcc6f5;
  box-shadow: 2px 2px 20px 10px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-header {
  border-bottom: 1px solid #eeeeee;
  color: #4aae9b;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.modal-body {
  position: fixed;
  padding: 20px 10px;
}

.btn-close {
  border: none;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #4aae9b;
  background: transparent;
}

.btn-green {
  color: white;
  background: #4aae9b;
  border: 1px solid #4aae9b;
  border-radius: 2px;
}
</style>
