<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div
        class="modal-fade bd-example-modal-lg col-10 col-md-7"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <div class="container">
          <div class="d-block text-center">
            <hr />
            <h2>Yeni Bir Saha Oluşturun</h2>
            <hr />
            <form>
              <div class="form-group">
                <label for="name">SAHA ADI GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  v-on:keyup="validateForm()"
                  id="name"
                  v-model="name"
                  type="text"
                  name="name"
                  class="form-control"
                  v-bind:class="{
                    'is-invalid': !nameIsValid && nameIsValid !== null,
                  }"
                  required
                />
                <div class="invalid-feedback">
                  İsim bölümünü boş bırakamazsınız.
                </div>
                <div v-if="!hata">
                  <p class="text-danger">
                    Lütfen farklı bir stad ismi giriniz.
                  </p>
                </div>
              </div>
              <hr />
              <div class="form-group">
                <label for="adress">ADRES GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  v-on:keyup="validateForm()"
                  id="adress"
                  v-model="adress"
                  type="text"
                  name="adress"
                  class="form-control"
                  v-bind:class="{
                    'is-invalid': !adressIsValid && adressIsValid !== null,
                  }"
                  required
                />
                <div class="invalid-feedback">
                  Adres bölümünü boş bırakamazsınız.
                </div>
              </div>
              <hr />
              <div class="form-group">
                <label for="city">ŞEHİR GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  v-on:keyup="validateForm()"
                  id="city"
                  v-model="city"
                  type="text"
                  name="city"
                  class="form-control"
                  v-bind:class="{
                    'is-invalid': !cityIsValid && cityIsValid !== null,
                  }"
                  required
                />
                <div class="invalid-feedback">
                  Şehir bölümünü boş bırakamazsınız.
                </div>
                <div v-if="!hata">
                  <p class="text-danger">Lütfen başka bir şehir giriniz.</p>
                </div>
              </div>
              <hr />
              <div class="form-group">
                <label for="phone">TELEFON NUMARASI GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  v-on:keyup="validateForm()"
                  id="phone"
                  v-model="phone"
                  type="number"
                  name="phone"
                  class="form-control"
                  v-bind:class="{
                    'is-invalid': !phoneIsValid && phoneIsValid !== null,
                  }"
                  required
                />
                <div class="invalid-feedback">
                  Telefon numarası bölümünü boş bırakamazsınız.
                </div>
              </div>
              <hr />
              <div class="form-group">
                <label for="capacity">OYUNCU KAPASİTESİNİ GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  v-on:keyup="validateForm()"
                  id="capacity"
                  v-model="capacity"
                  type="number"
                  name="capacity"
                  class="form-control"
                  v-bind:class="{
                    'is-invalid': !capacityIsValid && capacityIsValid !== null,
                  }"
                  required
                />
                <div class="invalid-feedback">
                  Kapasite bölümünü boş bırakamazsınız.
                </div>
              </div>
              <hr />
              <div class="form-group">
                <label for="email">E MAİL GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  v-on:keyup="validateForm()"
                  id="email"
                  v-model="email"
                  type="email"
                  name="email"
                  class="form-control"
                  v-bind:class="{
                    'is-invalid': !emailIsValid && emailIsValid !== null,
                  }"
                  required
                />
                <div class="invalid-feedback">
                  Email bölümünü boş bırakamazsınız.
                </div>
              </div>
              <hr />
              <div class="form-group">
                <label for="image">SAHA RESMİ YÜKLEYİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  type="file"
                  v-bind="image"
                  class="form-control-file"
                  name="image"
                  @change="filesChange($event.target.name, $event.target.files)"
                  required
                />
              </div>
              <button
                :disabled="!formIsValid"
                @click="submitArea()"
                type="button"
                class="btn btn-primary"
              >
                <span v-if="!isBusyPost"> OLUŞTUR </span>
                <span v-if="isBusyPost" class="spinner-border"></span>
              </button>
              <button
                type="button"
                class="btn btn-danger ml-5"
                @click="close"
                aria-label="Close modal"
              >
                IPTAL
              </button>
              <hr />
            </form>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { postArea } from "../../services/area";
export default {
  name: "modal",
  data() {
    return {
      isBusy: true,
      isBusyPost: false,
      formIsValid: false,
      name: null,
      nameIsValid: null,
      city: null,
      cityIsValid: null,
      image: null,
      imageIsValid: null,
      phone: null,
      phoneIsValid: null,
      capacity: null,
      capacityIsValid: null,
      email: null,
      emailIsValid: null,
      adress: null,
      adressIsValid: null,
      errors: [],
      postRequestFailed: false,
      formData: new FormData(),
      hata: true,
    };
  },
  methods: {
    close() {
      this.$emit("close");
    },

    validateForm: function () {
      this.validateName();
      this.validateAddress();
      this.validateCity();
      this.validatePhone();
      this.validateEmail();
      this.validateCapacity();
      this.validateImage();
      if (
        this.nameIsValid &&
        this.adressIsValid &&
        this.cityIsValid &&
        this.phoneIsValid &&
        this.emailIsValid &&
        this.capacityIsValid &&
        this.imageIsValid
      ) {
        this.formIsValid = true;
        return true;
      } else {
        this.formIsValid = false;
        return false;
      }
    },
    /**
     * name validation
     */
    validateName: function () {
      if (this.name === null) return;
      if (this.name) {
        this.nameIsValid = true;
      } else {
        this.nameIsValid = false;
      }
    },
    /**
     * adress validation
     */
    validateAddress: function () {
      if (this.adress === null) return;
      if (this.adress) {
        this.adressIsValid = true;
      } else {
        this.adressIsValid = false;
      }
    },
    /**
     * city validation
     */
    validateCity: function () {
      if (this.city === null) return;
      if (this.city) {
        this.cityIsValid = true;
      } else {
        this.cityIsValid = false;
      }
    },
    /**
     * phone validation
     */
    validatePhone: function () {
      if (this.phone === null) return;
      if (this.phone) {
        this.phoneIsValid = true;
      } else {
        this.phoneIsValid = false;
      }
    },
    /**
     * capacity validation
     */
    validateCapacity: function () {
      if (this.capacity === null) return;
      if (this.capacity) {
        this.capacityIsValid = true;
      } else {
        this.capacityIsValid = false;
      }
    },
    /**
     * Email validation
     */
    validateEmail: function () {
      if (this.email === null) return;
      if (this.email) {
        let emailRex = /\S+@\S+\.\S+/;
        if (emailRex.test(String(this.email).toLowerCase())) {
          this.emailIsValid = true;
        } else {
          this.emailIsValid = false;
        }
      } else {
        this.emailIsValid = false;
      }
    },
    /**
     * Image validation
     */
    validateImage: function () {
      if (this.formData.get("image")) {
        this.imageIsValid = true;
      } else {
        this.imageIsValid = false;
      }
    },

    submitArea: async function () {
      let formValidState;
      formValidState = this.validateForm();

      if (formValidState) {
        this.postForm();
      }
    },

    postForm: async function () {
      let postResponse;
      let errors = [];
      this.formData.delete("name");
      this.formData.delete("city");
      this.formData.delete("adress");
      this.formData.delete("phone");
      this.formData.delete("email");
      this.formData.delete("capacity");
      if (
        this.name &&
        this.city &&
        this.adress &&
        this.phone &&
        this.email &&
        this.capacity &&
        this.formData.get("image")
      ) {
        this.formData.append("name", this.name);
        this.formData.append("city", this.city);
        this.formData.append("adress", this.adress);
        this.formData.append("phone", this.phone);
        this.formData.append("email", this.email);
        this.formData.append("capacity", this.capacity);

        this.isBusyPost = true;

        postResponse = await postArea(this.formData);

        this.isBusyPost = false;

        if (postResponse.error) {
          alert(postResponse.error);
          this.hata = false;
        } else {
          this.$emit("close");
        }
      }

      // ----------- Validate form data ----------- //
      if (!this.name) {
        errors.push("Name required.");
        console.log("NAME");
      }
      if (!this.city) {
        errors.push("City required.");
        console.log("CİTY");
      }
    },

    filesChange(fieldName, fileList) {
      if (!fileList.length) return;
      this.formData.delete("image");
      this.formData.append(fieldName, fileList[0], fileList[0].name);
      this.validateForm();
    },
  },
};
</script>

<style scoped>
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(35, 169, 46);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-fade {
  height: 600px;
  background: #bcc6f5;
  box-shadow: 2px 2px 20px 10px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-header {
  border-bottom: 1px solid #eeeeee;
  color: #4aae9b;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.modal-body {
  position: fixed;
  padding: 20px 10px;
}

.btn-close {
  border: none;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #4aae9b;
  background: transparent;
}

.btn-green {
  color: white;
  background: #4aae9b;
  border: 1px solid #4aae9b;
  border-radius: 2px;
}
</style>
