<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div
        class="modal-fade bd-example-modal-sm col-10 col-md-7"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <div class="container">
          <div class="d-block text-center mt-5">
            <form>
              <div class="form-group">
                <label for="name">SAHA ADI GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="name"
                  v-model="name"
                  type="text"
                  name="name"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="adress">ADRES GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="adress"
                  v-model="adress"
                  type="text"
                  name="adress"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="city">ŞEHİR GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="city"
                  v-model="city"
                  type="text"
                  name="city"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="phone">TELEFON NUMARASI GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="phone"
                  v-model="phone"
                  type="number"
                  name="phone"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="email">E MAİL GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="email"
                  v-model="email"
                  type="email"
                  name="email"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="image">SAHA RESMİ YÜKLEYİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  type="file"
                  v-bind="image"
                  class="form-control-file"
                  name="image"
                  @change="filesChange($event.target.name, $event.target.files)"
                  required
                />
              </div>
              <hr />
              <button
                :disabled="isBusyPost"
                @click="patchForm(area.pk)"
                type="button"
                class="btn btn-primary"
              >
                <span v-if="!isBusyPost"> GÜNCELLE </span>
                <span v-if="isBusyPost" class="spinner-border"></span>
              </button>
              <button
                type="button"
                class="btn btn-danger ml-5"
                @click="close"
                aria-label="Close modal"
              >
                IPTAL
              </button>
              <hr />
            </form>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { patchArea } from "../../services/area";
import { getAllAreas } from "../../services/area";

export default {
  name: "modal",
  data() {
    return {
      isBusy: true,
      requestFailed: false,
      name: null,
      city: null,
      image: null,
      phone: null,
      email: null,
      adress: null,
      isBusyPost: false,
      areaPk: "",
      areaList: [],
      formData: new FormData(),
    };
  },

  async created() {
    this.getAreas();
  },

  methods: {
    async getAreas() {
      let areaData;
      this.isBusy = true;
      areaData = await getAllAreas();
      this.isBusy = false;
      if (areaData.error) {
        console.log(areaData.error);
      } else {
        this.areaList = areaData.data;
      }
    },

    close() {
      this.$emit("close");
    },

    patchForm: async function (areaPk) {
      let patchResponse;
      let errors = [];

      if (
        this.name &&
        this.city &&
        this.adress &&
        this.phone &&
        this.email &&
        this.formData.get("image") &&
        areaPk
      ) {
        this.formData.append("name", this.name);
        this.formData.append("city", this.city);
        this.formData.append("adress", this.adress);
        this.formData.append("phone", this.phone);
        this.formData.append("email", this.email);

        this.isBusyPost = true;
        patchResponse = await patchArea(this.formData, areaPk);
        this.isBusyPost = false;

        if (patchResponse.error) {
          console.log(patchResponse.error);
        } else {
          this.$emit("close");
        }
      }

      // ----------- Validate form data ----------- //
      if (!this.name) {
        errors.push("Name required.");
        console.log("NAME");
      }
      if (!this.city) {
        errors.push("City required.");
        console.log("CİTY");
      }
    },
    filesChange(fieldName, fileList) {
      if (!fileList.length) return;
      this.formData.append(fieldName, fileList[0], fileList[0].name);
    },
  },
};
</script>

<style scoped>
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(35, 169, 46);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-fade {
  height: 600px;
  background: #bcc6f5;
  box-shadow: 2px 2px 20px 10px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-header {
  border-bottom: 1px solid #eeeeee;
  color: #4aae9b;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.modal-body {
  position: fixed;
  padding: 20px 10px;
}

.btn-close {
  border: none;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #4aae9b;
  background: transparent;
}

.btn-green {
  color: white;
  background: #4aae9b;
  border: 1px solid #4aae9b;
  border-radius: 2px;
}
</style>