<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div
        class="modal-fade bd-example-modal-lg col-10 col-md-7"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <div class="container">
          <div class="d-block text-center">
            <hr />
            <h2>Yeni Bir Takım Oluşturun</h2>
            <hr />
            <form>
              <div class="form-group">
                <label for="name">TAKIM ADI GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  v-on:keyup="validateForm()"
                  id="name"
                  v-model="name"
                  type="text"
                  name="name"
                  class="form-control"
                  v-bind:class="{
                    'is-invalid': !nameIsValid && nameIsValid !== null,
                  }"
                  required
                />
                <div class="invalid-feedback">
                  İsim bölümünü boş bırakamazsınız.
                </div>
                <div v-if="!hata">
                  <p class="text-danger">
                    Lütfen farklı bir takım ismi giriniz.
                  </p>
                </div>
              </div>
              <hr />
              <label for="country">ÜLKE SEÇİNİZ</label>
              <div class="input-group">
                <select
                  class="custom-select"
                  id="countryPk"
                  v-model="countryPk"
                  name="countryPk"
                  aria-label="Example select with button addon"
                >
                  <option
                    v-for="country in countryData"
                    :key="country.pk"
                    v-bind:value="country.pk"
                  >
                    {{ country.name }}
                  </option>
                </select>
              </div>
              <hr />
              <div class="form-group">
                <label for="city">ŞEHİR SEÇİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="city"
                  v-model="city"
                  type="text"
                  name="city"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="dateOfFoundation">KURULUŞ TARİHİ SEÇİNİZ</label>
                <input
                  id="dateOfFoundation"
                  v-model="dateOfFoundation"
                  type="date"
                  name="dateOfFoundation"
                  class="form-control"
                />
              </div>
              <hr />
              <!-- <div class="form-group">
                <label for="color">1. RENK SEÇİNİZ</label>
                <br />
                <input
                  :disabled="isBusyPost"
                  type="color"
                  id="color1"
                  v-model="color1"
                  name="color1"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="color2">2. RENK SEÇİNİZ</label>
                <br />
                <input
                  :disabled="isBusyPost"
                  id="color2"
                  v-model="color2"
                  type="color"
                  name="color2"
                  required
                />
              </div> -->
              <hr />
              <div class="form-group">
                <label for="email">EMAİL GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="email"
                  v-model="email"
                  type="text"
                  name="email"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="phone">TELEFON GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="phone"
                  v-model="phone"
                  type="number"
                  name="phone"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="image">TAKIM RESMİ YÜKLEYİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  type="file"
                  v-bind="image"
                  class="form-control-file"
                  name="image"
                  @change="filesChange($event.target.name, $event.target.files)"
                  required
                />
              </div>
              <button
                :disabled="!formIsValid"
                @click="submitTeam()"
                type="button"
                class="btn btn-primary"
              >
                <span v-if="!isBusyPost"> OLUŞTUR </span>
                <span v-if="isBusyPost" class="spinner-border"></span>
              </button>
              <button
                type="button"
                class="btn btn-danger ml-5"
                @click="close"
                aria-label="Close modal"
              >
                IPTAL
              </button>
              <hr />
            </form>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { postTeam } from "../../services/team";
export default {
  name: "modal",
  data() {
    return {
      isBusy: true,
      isBusyPost: false,
      formIsValid: false,
      name: null,
      nameIsValid: null,
      countryPk: null,
      city: null,
      color1: null,
      color2: null,
      dateOfFoundation: null,
      email: null,
      phone: null,
      image: null,
      imageIsValid: null,
      errors: [],
      countryData: [],
      postRequestFailed: false,
      formData: new FormData(),
      hata: true,
    };
  },
  async created() {
    this.getCountry();
  },
  methods: {
    close() {
      this.$emit("close");
    },

    validateForm: function () {
      this.validateName();
      this.validateImage();
      if (this.nameIsValid && this.imageIsValid) {
        this.formIsValid = true;
        return true;
      } else {
        this.formIsValid = false;
        return false;
      }
    },
    /**
     * name validation
     */
    validateName: function () {
      if (this.name === null) return;
      if (this.name) {
        this.nameIsValid = true;
      } else {
        this.nameIsValid = false;
      }
    },
    /**
     * Image validation
     */
    validateImage: function () {
      if (this.formData.get("image")) {
        this.imageIsValid = true;
      } else {
        this.imageIsValid = false;
      }
    },

    submitTeam: async function () {
      let formValidState;
      formValidState = this.validateForm();

      if (formValidState) {
        this.postForm();
      }
    },

    postForm: async function () {
      let postResponse;
      let errors = [];
      this.formData.delete("name");
      this.formData.delete("countryPk");
      this.formData.delete("dateOfFoundation");
      this.formData.delete("color1");
      this.formData.delete("color2");
      this.formData.delete("city");
      this.formData.delete("email");
      this.formData.delete("phone");

      if (
        this.name &&
        this.countryPk &&
        this.city &&
        this.dateOfFoundation &&
        // this.color1 &&
        // this.color2 &&
        this.email &&
        this.phone &&
        this.formData.get("image")
      ) {
        this.formData.append("name", this.name);
        this.formData.append("countryPk", this.countryPk);
        this.formData.append("dateOfFoundation", this.dateOfFoundation);
        // this.formData.append("color1", this.color1);
        // this.formData.append("color2", this.color2);
        this.formData.append("city", this.city);
        this.formData.append("email", this.email);
        this.formData.append("phone", this.phone);

        this.isBusyPost = true;

        postResponse = await postTeam(this.formData);

        this.isBusyPost = false;

        if (postResponse.error) {
          alert(postResponse.error);
          this.hata = false;
        } else {
          this.$emit("close");
        }
      }

      // ----------- Validate form data ----------- //
      if (!this.name) {
        errors.push("Name required.");
        1;
        console.log("NAME");
      }
    },
    async getCountry() {
      let response;
      let data;

      try {
        response = await fetch(`http://localhost:1903/v1/countrys`, {
          headers: {
            Authorization: "",
          },
        });

        data = await response.json();

        if (response.status !== 200 || data.length < 1) {
          this.requestFailed = true;
        } else {
          this.countryData = data;
        }
      } catch (error) {
        this.requestFailed = true;
      }
      this.isBusy = false;
    },

    filesChange(fieldName, fileList) {
      if (!fileList.length) return;
      this.formData.delete("image");
      this.formData.append(fieldName, fileList[0], fileList[0].name);
      this.validateForm();
    },
  },
};
</script>

<style scoped>
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(35, 169, 46);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-fade {
  height: 600px;
  background: #bcc6f5;
  box-shadow: 2px 2px 20px 10px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-header {
  border-bottom: 1px solid #eeeeee;
  color: #4aae9b;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.modal-body {
  position: fixed;
  padding: 20px 10px;
}

.btn-close {
  border: none;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #4aae9b;
  background: transparent;
}

.btn-green {
  color: white;
  background: #4aae9b;
  border: 1px solid #4aae9b;
  border-radius: 2px;
}
</style>
