<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div
        class="modal-fade bd-example-modal-sm col-10 col-md-7"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <div class="container">
          <div class="d-block text-center mt-5">
            <form>
              <div class="form-group">
                <label for="name">TAKIM ADI GİRİNİZ</label>
                <input
                  id="name"
                  v-model="name"
                  type="text"
                  name="name"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <label for="country">ÜLKE SEÇİNİZ</label>
              <div class="input-group">
                <select
                  class="custom-select"
                  id="countryPk"
                  v-model="countryPk"
                  name="countryPk"
                  aria-label="Example select with button addon"
                >
                  <option
                    v-for="country in countryData"
                    :key="country.pk"
                    v-bind:value="country.pk"
                  >
                    {{ country.name }}
                  </option>
                </select>
              </div>
              <hr />
              <div class="form-group">
                <label for="city">ŞEHİR SEÇİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="city"
                  v-model="city"
                  type="text"
                  name="city"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="dateOfFoundation">KURULUŞ TARİHİ SEÇİNİZ</label>
                <input
                  id="dateOfFoundation"
                  v-model="dateOfFoundation"
                  type="date"
                  name="dateOfFoundation"
                  class="form-control"
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="color">1. RENK SEÇİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="color1"
                  v-model="color1"
                  type="text"
                  name="color1"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="color2">2. RENK SEÇİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="color2"
                  v-model="color2"
                  type="text"
                  name="color2"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="email">EMAİL GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="email"
                  v-model="email"
                  type="text"
                  name="email"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="phone">TELEFON GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="phone"
                  v-model="phone"
                  type="number"
                  name="phone"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="image">TAKIM RESMİ YÜKLEYİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  type="file"
                  v-bind="image"
                  class="form-control-file"
                  name="image"
                  @change="filesChange($event.target.name, $event.target.files)"
                  required
                />
              </div>
              <hr />
              <button
                :disabled="isBusyPost"
                @click="patchForm()"
                type="button"
                class="btn btn-primary"
              >
                <span v-if="!isBusyPost"> GÜNCELLE </span>
                <span v-if="isBusyPost" class="spinner-border"></span>
              </button>
              <button
                type="button"
                class="btn btn-danger ml-5"
                @click="close"
                aria-label="Close modal"
              >
                IPTAL
              </button>
              <hr />
            </form>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { patchTeam } from "../../services/team";
export default {
  name: "modal",
  data() {
    return {
      isBusy: true,
      isBusyPost: false,
      date: null,
      name: null,
      countryPk: null,
      city: null,
      color1: null,
      color2: null,
      dateOfFoundation: null,
      email: null,
      phone: null,
      image: null,
      countryData: [],
      formData: new FormData(),
    };
  },
  props: ["teamData"],

  async created() {
    this.getCountry();
  },
  methods: {
    async getCountry() {
      let response;
      let data;

      try {
        response = await fetch(`http://localhost:1903/v1/countrys`, {
          headers: {
            Authorization: "",
          },
        });

        data = await response.json();

        if (response.status !== 200 || data.length < 1) {
          this.requestFailed = true;
        } else {
          this.countryData = data;
        }
      } catch (error) {
        this.requestFailed = true;
      }
      this.isBusy = false;
    },

    close() {
      this.$emit("close");
    },

    patchForm: async function () {
      let patchResponse;
      this.formData.delete("name");
      this.formData.delete("countryPk");
      this.formData.delete("dateOfFoundation");
      this.formData.delete("color1");
      this.formData.delete("color2");
      this.formData.delete("city");
      this.formData.delete("email");
      this.formData.delete("phone");

      if (
        this.name &&
        this.countryPk &&
        this.city &&
        this.dateOfFoundation &&
        this.email &&
        this.phone &&
        this.formData.get("image")
      ) {
        this.formData.append("name", this.name);
        this.formData.append("countryPk", this.countryPk);
        this.formData.append("dateOfFoundation", this.dateOfFoundation);
        this.formData.append("color1", this.color1);
        this.formData.append("color2", this.color2);
        this.formData.append("city", this.city);
        this.formData.append("email", this.email);
        this.formData.append("phone", this.phone);

        this.isBusyPost = true;
        patchResponse = await patchTeam(this.formData, this.teamData.pk);
        this.isBusyPost = false;

        if (patchResponse.error) {
          console.log(patchResponse.error);
        } else {
          this.$emit("close");
        }
      }
    },

    filesChange(fieldName, fileList) {
      if (!fileList.length) return;
      this.formData.append(fieldName, fileList[0], fileList[0].name);
    },
  },
};
</script>

<style scoped>
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(35, 169, 46);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-fade {
  height: 600px;
  background: #bcc6f5;
  box-shadow: 2px 2px 20px 10px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-header {
  border-bottom: 1px solid #eeeeee;
  color: #4aae9b;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.modal-body {
  position: fixed;
  padding: 20px 10px;
}

.btn-close {
  border: none;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #4aae9b;
  background: transparent;
}

.btn-green {
  color: white;
  background: #4aae9b;
  border: 1px solid #4aae9b;
  border-radius: 2px;
}
</style>