<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <router-link class="navbar-brand" to="/">ANASAYFA</router-link>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <router-link class="nav-link" to="/match">MAÇLAR</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/player">OYUNCULAR</router-link>
          </li>

          <li class="nav-item">
            <router-link class="nav-link" to="/area">SAHALAR</router-link>
          </li>

          <li class="nav-item">
            <router-link class="nav-link" to="/team">TAKIMLAR</router-link>
          </li>

          <li class="nav-item">
            <router-link class="nav-link" to="/forum">FORUM</router-link>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>


<script>
export default {
  name: "Navbar",
  props: {
    msg: String,
  },
  data: function () {
    return {
      title: "My Navbar",
    };
  },
};
</script>


<style scoped>
</style>
