<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div
        class="modal-fade bd-example-modal-sm col-10 col-md-7"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <div class="container">
          <div class="d-block text-center mt-5">
            <form>
              <div class="form-group">
                <label for="name">OYUNCU ADI GİRİNİZ</label>
                <input
                  id="name"
                  v-model="name"
                  type="text"
                  name="name"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="surname">SOYİSİM GİRİNİZ</label>
                <input
                  id="surname"
                  v-model="surname"
                  type="text"
                  name="surname"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label for="age">YAŞINIZI GİRİNİZ</label>
                <input
                  id="age"
                  v-model="age"
                  type="number"
                  name="age"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <label for="position">POZİSYON SEÇİNİZ</label>
              <div class="input-group">
                <select
                  class="custom-select"
                  id="positionPk"
                  v-model="positionPk"
                  name="positionPk"
                  aria-label="Example select with button addon"
                >
                  <option
                    v-for="position in positionData"
                    :key="position.pk"
                    v-bind:value="position.pk"
                  >
                    {{ position.position }}
                  </option>
                </select>
              </div>
              <hr />
              <label for="team">TAKIM SEÇİNİZ</label>
              <div class="input-group">
                <select
                  class="custom-select"
                  id="teamPk"
                  v-model="teamPk"
                  name="teamPk"
                  aria-label="Example select with button addon"
                >
                  <option
                    v-for="team in teamList"
                    :key="team.pk"
                    v-bind:value="team.pk"
                  >
                    {{ team.name }}
                  </option>
                </select>
              </div>
              <hr />
              <label for="country">ÜLKE SEÇİNİZ</label>
              <div class="input-group">
                <select
                  class="custom-select"
                  id="countryPk"
                  v-model="countryPk"
                  name="countryPk"
                  aria-label="Example select with button addon"
                >
                  <option
                    v-for="country in countryData"
                    :key="country.pk"
                    v-bind:value="country.pk"
                  >
                    {{ country.name }}
                  </option>
                </select>
              </div>
              <hr />
              <div class="form-group">
                <label for="height">BOYUNUZU GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="height"
                  v-model="height"
                  type="number"
                  name="height"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="weight">KİLONUZU GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="weight"
                  v-model="weight"
                  type="number"
                  name="weight"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="phone">TELEFON NUMARANIZI GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="phone"
                  v-model="phone"
                  type="number"
                  name="phone"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="email">E MAİLİNİZİ GİRİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  id="email"
                  v-model="email"
                  type="text"
                  name="email"
                  class="form-control"
                  required
                />
              </div>
              <hr />
              <div class="form-group">
                <label for="image">OYUNCU RESMİ YÜKLEYİNİZ</label>
                <input
                  :disabled="isBusyPost"
                  type="file"
                  v-bind="image"
                  class="form-control-file"
                  name="image"
                  @change="filesChange($event.target.name, $event.target.files)"
                  required
                />
              </div>
              <hr />
              <button
                :disabled="isBusyPost"
                @click="patchForm()"
                type="button"
                class="btn btn-primary"
              >
                <span v-if="!isBusyPost"> GÜNCELLE </span>
                <span v-if="isBusyPost" class="spinner-border"></span>
              </button>
              <button
                type="button"
                class="btn btn-danger ml-5"
                @click="close"
                aria-label="Close modal"
              >
                IPTAL
              </button>
              <hr />
            </form>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { patchPlayer } from "../../services/player";
import { getAllTeams } from "../../services/team";

export default {
  name: "modal",
  data() {
    return {
      isBusy: true,
      isBusyPost: false,
      date: null,
      name: null,
      surname: null,
      age: null,
      height: null,
      weight: null,
      phone: null,
      email: null,
      positionPk: null,
      countryPk: null,
      teamPk: null,
      image: null,
      positionData: [],
      countryData: [],
      teamList: [],
      formData: new FormData(),
    };
  },
  props: ["playerData"],

  async created() {
    this.getPosition();
    this.getCountry();
    this.getTeams();
  },

  methods: {
    async getTeams() {
      let teamData;
      this.isBusy = true;
      teamData = await getAllTeams();
      this.isBusy = false;
      if (teamData.error) {
        console.log(teamData.error);
      } else {
        this.teamList = teamData.data;
      }
    },
    async getPosition() {
      let response;
      let data;

      try {
        response = await fetch(`http://localhost:1903/v1/positions`, {
          headers: {
            Authorization: "",
          },
        });

        data = await response.json();

        if (response.status !== 200 || data.length < 1) {
          this.requestFailed = true;
        } else {
          this.positionData = data;
        }
      } catch (error) {
        this.requestFailed = true;
      }
      this.isBusy = false;
    },
    async getCountry() {
      let response;
      let data;

      try {
        response = await fetch(`http://localhost:1903/v1/countrys`, {
          headers: {
            Authorization: "",
          },
        });

        data = await response.json();

        if (response.status !== 200 || data.length < 1) {
          this.requestFailed = true;
        } else {
          this.countryData = data;
        }
      } catch (error) {
        this.requestFailed = true;
      }
      this.isBusy = false;
    },

    close() {
      this.$emit("close");
    },

    patchForm: async function () {
      console.log(this.playerData)
      let patchResponse;
      this.formData.delete("name");
      this.formData.delete("surname");
      this.formData.delete("age");
      this.formData.delete("height");
      this.formData.delete("weight");
      this.formData.delete("phone");
      this.formData.delete("email");
      this.formData.delete("positionPk");
      this.formData.delete("countryPk");
      this.formData.delete("teamPk");

      if (
        this.name &&
        this.surname &&
        this.age &&
        this.height &&
        this.weight &&
        this.phone &&
        this.email &&
        this.positionPk &&
        this.countryPk &&
        this.teamPk &&
        this.formData.get("image")
      ) {
        this.formData.append("name", this.name);
        this.formData.append("surname", this.surname);
        this.formData.append("age", this.age);
        this.formData.append("height", this.height);
        this.formData.append("weight", this.weight);
        this.formData.append("phone", this.phone);
        this.formData.append("email", this.email);
        this.formData.append("positionPk", this.positionPk);
        this.formData.append("countryPk", this.countryPk);
        this.formData.append("teamPk", this.teamPk);

        this.isBusyPost = true;
        patchResponse = await patchPlayer(this.formData, this.playerData.pk);
        this.isBusyPost = false;

        if (patchResponse.error) {
          console.log(patchResponse.error);
        } else {
          this.$emit("close");
        }
      }
    },

    filesChange(fieldName, fileList) {
      if (!fileList.length) return;
      this.formData.append(fieldName, fileList[0], fileList[0].name);
    },
  },
};
</script>

<style scoped>
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(35, 169, 46);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-fade {
  height: 600px;
  background: #bcc6f5;
  box-shadow: 2px 2px 20px 10px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-header {
  border-bottom: 1px solid #eeeeee;
  color: #4aae9b;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.modal-body {
  position: fixed;
  padding: 20px 10px;
}

.btn-close {
  border: none;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #4aae9b;
  background: transparent;
}

.btn-green {
  color: white;
  background: #4aae9b;
  border: 1px solid #4aae9b;
  border-radius: 2px;
}
</style>