<template>
  <div class="home">
    <div class="container">
      <div v-if="errors.length > 0">
        <div v-for="error in errors" v-bind:key="error.message">
          <p class="text-danger">{{ error.message }}</p>
        </div>
      </div>

      <!-- Add a new area -->
      <div>
        <button
          type="button"
          class="btn btn-dark col-md-4 offset-md-4 mt-4"
          @click="showCreateModal()"
        >
          CREATE A NEW AREA
        </button>
        <create-modal
          v-if="!isBusyPost"
          v-show="isCreateModalVisible"
          @close="closeCreateModal"
        />
      </div>
      <!-- SPİNNER -->
      <div v-if="isBusy" class="spin spinner mt-4">
        <img class="spin spinner" src="../assets/ball2.png" />
      </div>

      <!-- Area List -->
      <h2 v-if="!isBusy" class="mainText mt-2 mb-2">Areas</h2>

      <div v-if="!isBusy" class="row">
        <div
          class="card mb-4 col-6 col-md-4"
          v-for="area in areaList"
          v-bind:key="area.pk"
        >
          <router-link
            :to="{ name: 'AreaDetail', params: { areaPk: area.name } }"
          >
            <img class="card-img-top" v-bind:src="area.imageUrl" alt />
            <p class="names">{{ area.name }}</p>
            <p class="names">{{ area.city }}</p>
          </router-link>

          <!-- Delete Area -->

          <button
            :disabled="isBusyPost"
            v-on:click="deleteForm(area.name)"
            type="button"
            class="btn btn-danger mr-4 ml-4"
          >
            <span v-if="!isBusyDelete"> DELETE </span>
            <span v-if="isBusyDelete" class="spinner-button spinner-border"></span>
          </button>

          <!-- Update Area -->

          <button
            type="button"
            class="btn btn-primary mr-4 ml-4"
            @click="showUpdateModal(area)"
          >
            UPDATE
          </button>
        </div>

        <update-modal
          v-if="!isBusyPost"
          :areaData="areaUpdateData"
          v-show="isUpdateModalVisible"
          @close="closeUpdateModal"
        />
      </div>
    </div>
  </div>
</template>

<script>
import CreateModal from "../components/area/CreateModal.vue";
import UpdateModal from "../components/area/UpdateModal.vue";
import { getAllAreas } from "../services/area";
import { deleteArea } from "../services/area";

export default {
  components: {
    UpdateModal,
    CreateModal,
  },
  name: "Area",
  data() {
    return {
      isBusy: true,
      isBusyPost: false,
      isBusyDelete: false,
      requestFailed: false,
      name: null,
      city: null,
      image: null,
      phone: null,
      email: null,
      adress: null,
      areaList: [],
      areaUpdateData: {},
      areaPk: "",
      imageUrl: "",
      postRequestFailed: false,
      formData: new FormData(),
      isUpdateModalVisible: false,
      isCreateModalVisible: false,
      errors: [],
    };
  },
  async created() {
    this.getAreas();
  },
  methods: {

    // GET AREAS
    async getAreas() {
      let areaData;
      this.isBusy = true;
      areaData = await getAllAreas();
      this.isBusy = false;
      if (areaData.data.length === 0) {
        this.errors.push({ message: "NO DATA" });
      } else {
        this.errors = [];
        this.areaList = areaData.data;
      }
    },
    // UPDATE MODAL
    showUpdateModal(area) {
      this.areaUpdateData = area;
      this.isUpdateModalVisible = true;
    },
    closeUpdateModal() {
      this.isUpdateModalVisible = false;
      this.getAreas();
    },
    // CREATE MODAL
    showCreateModal() {
      this.isCreateModalVisible = true;
    },
    closeCreateModal() {
      this.isCreateModalVisible = false;
      this.getAreas();
    },

    // DELETE AREA
    deleteForm: async function (areaPk) {
      let deleteResponse;

      if (areaPk) {
        this.isBusyDelete = true;
        deleteResponse = await deleteArea(areaPk);
        this.isBusyDelete = false;

        if (deleteResponse.error) {
          console.log(deleteResponse.error);
        } else {
          this.getAreas();
        }
      }
    },
  },
};
</script>

<style scoped>
.home {
  background-color: rgb(38, 187, 38);
}
.card-img-top {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card {
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 0px 0 #d4d4d5, 0 0 0 10px rgb(38, 187, 38);
}

.create {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Comic Sans", "Helvetica Neue", sans-serif;
}
.mainText {
  text-align: center;
}
.hata {
  text-align: center;
}
.spinner-button {
  position: relative;
  left: 0%;
  width: 20px;
  height: 20px;
}
.spin {
  position: sticky;
  left: 40%;
  display: inline-block;
  width: 220px;
  height: 220px;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner,
.spinner::before,
.spinner::after {
  display: inline-block;
  border-color: transparent;
  animation-duration: 3.5s;
}
</style>