  <template>
  <div class="home">
    <!-- SPİNNER -->
      <div v-if="isBusy" class="spin spinner mt-4">
        <img class="spin spinner" src="../assets/ball2.png" />
      </div>
      <!-- AREA DETAİL LİST -->
    <div class="container-fluid p-0 m-0">
      <div class="row no-gutters">
        <div class="col-12">
          <div
            class="create position-absolute bg-white m-1 shadow-lg map-box2"
            v-for="area in areaDetails"
            v-bind:key="area.pk"
          >
            <img class="card-img-top mt-4" v-bind:src="area.imageUrl" alt />
            <h3 class="text">{{ area.name }}</h3>
            <div>
              <address class="mt-2 mb-2"> 
                <strong class="text-muted">Adres</strong><br />
                {{ area.adress }}<br />
                {{ area.city }}
              </address>
              <address class="mb-2">
                <strong class="text-muted">Telefon</strong><br />
                {{ area.phone }}
              </address>
              <address class="mb-2">
                <strong class="text-muted">Email</strong><br />
                <a href="mailto:#" class="text">{{ area.email }}</a>
              </address>
              <address class="mb-2">
                <strong class="text-muted">Kapasite</strong><br />
                {{ area.capacity }}
              </address>
            </div>
          </div>
          <div
            class="embed-responsive embed-responsive-16by9"
            style="height: 560px !important"
          >
            <iframe
              id="gmap_canvas"
              src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AreaDetail",
  data() {
    return {
      isBusy: true,
      area: { url: "", headerImage: "" },
      areaDetails: [],
    };
  },

  props: ["areaPk"],

  async created() {
    this.getAreaDetails();
  },
  methods: {
    // GET AREA DETAİLS
    async getAreaDetails() {
      let response;
      let data;
      this.isBusy = true;
      // Blog Content
      try {
        response = await fetch(
          `http://localhost:1903/v1/areas/${this.areaPk}`,
          {
            headers: {
              Authorization: "",
            },
          }
        );
        data = await response.json();

        if (response.status !== 200 || data.length < 1) {
          this.requestFailed = true;
        } else {
          this.areaDetails = data;
        }
      } catch (error) {
        this.requestFailed = true;
      }
      this.isBusy = false;
      this.area = data[0];
    },
  },
};
</script>

<style scoped>
.home {
  background-color: rgb(38, 187, 38);
}
.card-img-top {
  width: 65%;
  height: 25%;
  margin-bottom: 10px;
}

.create {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Comic Sans", "Helvetica Neue", sans-serif;
}

#gmap_canvas {
  filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
  -webkit-filter: grayscale(90%);
  filter: grayscale(10%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
}
.map-box2 {
  z-index: 9999;
  right: 40px;
  width: 360px;
  height: 550px;
}
.spinner-button {
  position: relative;
  left: 0%;
  width: 20px;
  height: 20px;
}
.spin {
  position: sticky;
  left: 40%;
  display: inline-block;
  width: 220px;
  height: 220px;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner,
.spinner::before,
.spinner::after {
  display: inline-block;
  border-color: transparent;
  animation-duration: 3.5s;
}
</style>
