<template>
  <div class="home">
    <div class="container">
      <div class="row">
        <div
          class="card mb-4 col-12 col-md-4 mt-4"
          v-for="(forum, index) in ForumList"
          :key="index"
        >
          <div v-if="forum.links">
            <router-link :to="{ path: forum.links }">
              <img class="card-img-top" :src="forum.image" />
              <div class="card-block">
                <h5 class="title">{{ forum.title }}</h5>
              </div>
            </router-link>
            <p class="detail">{{ forum.detail }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data: function () {
    return {
      ForumList: [
        {
          image: require("../assets/pic.jpg"),
          title: "RESİMLER",
          detail:
            "Bu menüden maç esnasında çekilmiş fotoğraflara ulaşabilirsiniz.",
          links: "/forum/images",
        },
        {
          image: require("../assets/vid.jpg"),
          title: "MAÇ ÖZETLERİ",
          detail:
            "Bu menüden maç özetlerini izleyebilirsiniz.",
          links: "/forum/video",
        },
        {
          image: require("../assets/int.jpg"),
          title: "RÖPÖRTAJLAR",
          detail:
            "Bu menüden röpörtajları inceleyebilir ve izleyebilirsiniz.",
          links: "/forum/interview",
        },
      ],
    };
  },
};
</script>

<style scoped>
.home {
  background-color: rgb(38, 187, 38);
}
.title {
  text-align: center;
}
.detail {
  text-align: center;
}
.card-img-top {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 50px 0 #d4d4d5, 0 0 0 10px rgb(38, 187, 38);
}
</style>