<template>
  <div class="home">
    <div class="container">
      <div class="row">
        <div
          class="card mb-4 col-12 col-md-3 mt-4"
          v-for="(choose, index) in ImageList"
          :key="index"
        >
          <div v-if="choose.links">
            <router-link :to="{ path: choose.links }">
              <img class="card-img-top" :src="choose.image" />
              <div class="card-block">
                <h5 class="title">{{ choose.title }}</h5>
              </div>
            </router-link>
            <p class="detail">{{ choose.detail }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data: function () {
    return {
      ImageList: [
        {
          image: require("../assets/342311.jpg"),
          title: "MAÇLAR",
          detail:
            "Bu menüden oluşturulmuş olan maçları görüntüleyebilirsiniz, ayrıca yeni bir maç oluşturabilirsiniz.",
          links: "/match",
        },
        {
          image: require("../assets/player.jpg"),
          title: "OYUNCULAR",
          detail:
            "Bu menüden maçlarınız için oyuncuların bilgilerini görüntüleyebilir ve onları maçlarınıza davet edebilirsiniz.",
          links: "/player",
        },
        {
          image: require("../assets/0x0-iste-besiktasin-vodafone-park-karnesi-1523480310078.jpeg"),
          title: "SAHALAR",
          detail:
            "Bu menüden sitemize kayıtlı sahaları görüntüleyebilir, maçınız için bir randevu ayarlayabilirisniz.",
          links: "/area",
        },
        {
          image: require("../assets/team.png"),
          title: "TAKIMLAR",
          detail:
            "Bu menüden sitemize kayıtlı takımları görüntüleyebilir, takımınızı oluşturabilirsiniz.",
          links: "/team",
        },
      ],
    };
  },
};
</script>

<style scoped>
.title {
  text-align: center;
}
.detail {
  text-align: center;
}
.home {
  background-color: rgb(38, 187, 38);
}
.card-img-top {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 50px 0 #d4d4d5, 0 0 0 10px rgb(38, 187, 38);
}
</style>