<template>
  <div class="home">
    <div class="container">
      <h1>interview detail</h1>
      <!-- Add interview -->
      <button
        type="button"
        class="btn btn-dark col-md-4 offset-md-4 mt-4"
        @click="showCreateInterviewModal(match)"
      >
        RESİM EKLEYİN
      </button>
      <!-- INTERVİEW LIST -->
      <div v-for="match in matchDetails" v-bind:key="match.pk">
          <h2>{{ match.pk }}</h2>
      </div>
      <create-interview-modal
        :matchData="matchDetails"
        v-show="isCreateInterviewModalVisible"
        @close="closeCreateInterviewModal"
      />
    </div>
  </div>
</template>

<script>
import CreateInterviewModal from "../components/match/CreateInterviewModal.vue";

export default {
  components: {
    CreateInterviewModal,
  },
  name: "Match",
  data() {
    return {
      isBusy: true,
      requestFailed: false,
      interview: null,
      matchUpdateData: {},
      match: { url: "", headerImage: "" },
      matchDetails: [],
      postRequestFailed: false,
      formData: new FormData(),
      isUpdateModalVisible: false,
      isCreateInterviewModalVisible: false,
    };
  },
  props: ["matchPk"],
  async created() {
    this.getMatchDetails();
  },
  methods: {
    // CREATE MODAL
    showCreateInterviewModal(match) {
      this.matchUpdateData = match;
      this.isCreateInterviewModalVisible = true;
    },
    closeCreateInterviewModal() {
      this.isCreateInterviewModalVisible = false;
      this.getMatchDetails();
    },
    // GET MATCH DETAİLS
    async getMatchDetails() {
      let response;
      let data;
      this.isBusy = true;

      // Blog Content
      try {
        response = await fetch(
          `http://localhost:1903/v1/matchs/${this.matchPk}`,
          {
            headers: {
              Authorization: "",
            },
          }
        );
        data = await response.json();

        if (response.status !== 200 || data.length < 1) {
          this.requestFailed = true;
        } else {
          this.matchDetails = data;
          console.log(this.matchDetails)
        }
      } catch (error) {
        this.requestFailed = true;
      }
      this.isBusy = false;
      this.match = data[0];
    },
    filesChange(fieldName, fileList) {
      if (!fileList.length) return;
      this.formData.delete("image");
      this.formData.append(fieldName, fileList[0], fileList[0].name);
    },
  },
};
</script>

<style scoped>
.home {
  background-color: rgb(38, 187, 38);
}
</style>