<template>
  <div class="home">
    <div class="container">
      <div v-if="errors.length > 0">
        <div v-for="error in errors" v-bind:key="error.message">
          <p class="hata text-danger">{{ error.message }}</p>
        </div>
      </div>

      <!-- Add a new match -->
      <div>
        <button
          type="button"
          class="btn btn-dark col-md-4 offset-md-4 mt-4"
          @click="showCreateModal()"
        >
          CREATE A NEW MATCH
        </button>
        <create-modal v-show="isCreateModalVisible" @close="closeCreateModal" />
      </div>
      <!-- SPİNNER -->
      <div v-if="isBusy" class="spin spinner mt-4">
        <img class="spin spinner" src="../assets/ball2.png" />
      </div>
      <!-- Match List -->
      <h2 v-if="!isBusy" class="text-slab text-center text-uppercase mt-2 mb-3">
        Bugün ki Etkinlikler
      </h2>
      <div
        v-for="match in matchs"
        v-bind:key="match.pk"
        class="container animated animated-done bootdey"
        data-animate="fadeIn"
        data-animate-delay="0.05"
        style="animation-delay: 0.05s"
      >
        <div v-if="!isBusy" class="timeline timeline-left mx-lg-10">
          <div class="row">
            <div class="col-12 timeline-breaker mt-3">{{ match.date }}</div>
            <div
              v-for="match in match.matches"
              v-bind:key="match.pk"
              class="timeline-item mt-3 row text-center p-2"
              v-on:click="
                $router.push({
                  name: 'MatchDetail',
                  params: { matchPk: match.pk },
                })
              "
            >
              <div class="player-nation col-4">
                <img
                  v-bind:src="match.firstTeamPk.imageUrl"
                  alt="Barcelona"
                  draggable="false"
                />
              </div>

              <div class="col-1 mt-2 font-weight-bold text-md-right">
                {{ match.firstTeamPk.name }}
              </div>
              <div class="col-2 mt-2">vs</div>
              <div
                v-if="notSecondTeam"
                class="col-1 mt-2 font-weight-bold text-md-left"
              >
                {{ match.secondTeamPk.name }}
              </div>
              <button
                v-if="!notSecondTeam"
                type="button"
                class="btn btn-primary mr-4 ml-4"
              ></button>
              <div class="player-nation col-4">
                <img
                  v-if="notSecondTeam"
                  v-bind:src="match.secondTeamPk.imageUrl"
                  alt="Barcelona"
                  draggable="false"
                />
              </div>
              <div class="col-12 text-xs text-muted">
                {{ match.areaPk.name }} - {{ getDateString(match.date) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getAllMatchs, deleteMatch } from "../services/match";
import CreateModal from "../components/match/CreateModal.vue";

export default {
  components: {
    CreateModal,
  },
  name: "Match",
  data() {
    return {
      isBusy: true,
      isBusyDelete: false,
      notSecondTeam: false,
      name: null,
      date: null,
      image: null,
      firstTeamPk: null,
      findTeam: null,
      secondTeamPk: null,
      areaPk: "",
      matchPk: "",
      matchs: [],
      formData: new FormData(),
      isUpdateModalVisible: false,
      isCreateModalVisible: false,
      errors: [],
    };
  },
  async created() {
    this.getMatchs();
  },
  methods: {
    // CHANGE DATE TYPE
    getDateString: function (date) {
      return new Date(date).toLocaleDateString();
    },
    // CREATE MODAL
    showCreateModal() {
      this.isCreateModalVisible = true;
    },
    closeCreateModal() {
      this.isCreateModalVisible = false;
      this.getMatchs();
    },
    // GET MATCHS
    async getMatchs() {
      let matchData;
      this.isBusy = true;
      matchData = await getAllMatchs();
      this.isBusy = false;

      if (matchData.data.length === 0) {
        this.errors.push({ message: "NO DATA" });
      }
      // if (matchData.data.matches.secondTeamPk === "undefined") {
      //   this.notSecondTeam = true; }
      else {
        this.errors = [];
        this.matchs = matchData.data;
      }
    },
    // DELETE REQUEST
    deleteForm: async function (matchPk) {
      let deleteResponse;

      if (matchPk) {
        console.log("deleted area");
        this.isBusyDelete = true;
        deleteResponse = await deleteMatch(matchPk);
        this.isBusyDelete = false;

        if (deleteResponse.error) {
          console.log(deleteResponse.error);
        } else {
          this.getMatchs();
        }
      }
    },
    filesChange(fieldName, fileList) {
      if (!fileList.length) return;
      this.formData.append(fieldName, fileList[0], fileList[0].name);
    },
  },
};
</script>

<style scoped>
.home {
  background-color: rgb(38, 187, 38);
}
.player-nation {
  display: block;
  width: 50px;
  height: 50px;
}

.player-nation img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.timeline-breaker {
  background: #1b1b1b;
  color: #fff;
  font-weight: 600;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  padding: 0.6em;
  line-height: 1;
  display: block;
  width: 100%;
  max-width: 15em;
  clear: both;
}

.timeline-breaker::after {
  display: block;
  clear: both;
  content: "";
}

.timeline-item {
  float: none;
  left: auto;
  right: auto;
  width: 100%;
  padding: 15px;
  margin: 60px auto 0;
  background: #ffffff;
  border-radius: 2px;
  position: relative;
  border: 1px solid #74ff74;
  border-bottom: 3px solid #000000;
  text-align: left;
}

@media (min-width: 576px) {
  .timeline-breaker.timeline-breaker-bottom,
  .timeline-breaker.timeline-breaker-middle {
    top: 40px;
  }

  .timeline-stacked .timeline-breaker.timeline-breaker-bottom,
  .timeline-stacked .timeline-breaker.timeline-breaker-middle,
  .timeline.timeline-stacked .timeline-breaker.timeline-breaker-bottom,
  .timeline.timeline-stacked .timeline-breaker.timeline-breaker-middle {
    top: auto;
  }
}

.timeline-left,
.timeline.timeline-left {
  background-position: left top;
  margin-left: 20px;
  padding-bottom: 0;
  text-align: left;
}

.timeline-left .timeline-item,
.timeline-left .timeline-item.even,
.timeline-left .timeline-item.right,
.timeline.timeline-left .timeline-item,
.timeline.timeline-left .timeline-item.even,
.timeline.timeline-left .timeline-item.right {
  float: none;
  clear: both;
  width: 92%;
  margin-left: 25px;
  margin-right: 0;
  margin-top: 40px;
  left: auto;
  right: auto;
}

.timeline-left .timeline-item.even:after,
.timeline-left .timeline-item.even:before,
.timeline-left .timeline-item.right:after,
.timeline-left .timeline-item.right:before,
.timeline-left .timeline-item:after,
.timeline-left .timeline-item:before,
.timeline.timeline-left .timeline-item.even:after,
.timeline.timeline-left .timeline-item.even:before,
.timeline.timeline-left .timeline-item.right:after,
.timeline.timeline-left .timeline-item.right:before,
.timeline.timeline-left .timeline-item:after,
.timeline.timeline-left .timeline-item:before {
  right: auto;
  left: -20px;
  margin-left: 0;
  top: 20px;
}

.timeline.timeline-left .timeline-item:after {
  left: -40px;
}

@media (min-width: 576px) {
  .timeline.timeline-left .timeline-item,
  .timeline.timeline-left .timeline-item.even,
  .timeline.timeline-left .timeline-item.right,
  .timeline.timeline-right .timeline-item,
  .timeline.timeline-right .timeline-item.even,
  .timeline.timeline-right .timeline-item.right {
    width: 96%;
  }
}

.spinner-button {
  position: relative;
  left: 0%;
  width: 20px;
  height: 20px;
}
.spin {
  position: sticky;
  left: 40%;
  display: inline-block;
  width: 220px;
  height: 220px;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner,
.spinner::before,
.spinner::after {
  display: inline-block;
  border-color: transparent;
  animation-duration: 3.5s;
}
</style>