<template>
  <div class="home">
    <!-- SPİNNER -->
    <div v-if="isBusy" class="spin spinner mt-4">
      <img class="spin spinner" src="../assets/ball2.png" />
    </div>
    <!-- MATCH DETAİL LİST -->
    <div v-if="!isBusy" class="container bootstrap snippets bootdey mt-5">
      <div class="panel-body inf-content">
        <div v-for="match in matchDetails" v-bind:key="match.pk">
          <div class="row">
            <div class="col-md-4 mt-3">
              <img
                class="img-circle img-thumbnail isTooltip"
                v-bind:src="match.areaPk.imageUrl"
                data-original-title="Usuario"
              />
              <ul title="Ratings" class="list-inline ratings text-center">
                <li>
                  <a href="#"><span class="glyphicon glyphicon-star"></span></a>
                </li>
                <li>
                  <a href="#"><span class="glyphicon glyphicon-star"></span></a>
                </li>
                <li>
                  <a href="#"><span class="glyphicon glyphicon-star"></span></a>
                </li>
                <li>
                  <a href="#"><span class="glyphicon glyphicon-star"></span></a>
                </li>
                <li>
                  <a href="#"><span class="glyphicon glyphicon-star"></span></a>
                </li>
              </ul>
            </div>
            <div class="col-md-6 mt-3">
              <strong class="ml-5">ETKİNLİK HAKKINDA BİLGİLER</strong><br />
              <div class="table-responsive">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>
                        <strong>
                          <span
                            class="glyphicon glyphicon-asterisk text-primary"
                          ></span>
                          Stad Adı
                        </strong>
                      </td>
                      <td
                        v-on:click="
                          $router.push({
                            name: 'AreaDetail',
                            params: { areaPk: match.areaPk.name },
                          })
                        "
                        class="text-primary"
                      >
                        {{ match.areaPk.name }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>
                          <span
                            class="glyphicon glyphicon-user text-primary"
                          ></span>
                          Tarih
                        </strong>
                      </td>
                      <td class="text-primary">{{ match.date }}</td>
                    </tr>
                    <tr>
                      <td>
                        <strong>
                          <span
                            class="glyphicon glyphicon-cloud text-primary"
                          ></span>
                          1. Takım
                        </strong>
                      </td>
                      <td
                        v-on:click="
                          $router.push({
                            name: 'TeamDetail',
                            params: { teamPk: match.firstTeamPk.pk },
                          })
                        "
                        class="text-primary"
                      >
                        {{ match.firstTeamPk.name }}
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <strong>
                          <span
                            class="glyphicon glyphicon-bookmark text-primary"
                          ></span>
                          2. Takım
                        </strong>
                      </td>
                      <td
                        v-on:click="
                          $router.push({
                            name: 'TeamDetail',
                            params: { teamPk: match.secondTeamPk.pk },
                          })
                        "
                        class="text-primary"
                      >
                        {{ match.secondTeamPk.name }}
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <strong>
                          <span
                            class="glyphicon glyphicon-eye-open text-primary"
                          ></span>
                          Mevcut Oyuncu
                        </strong>
                      </td>
                      <td class="text-primary">{{ match.currentPlayer }}</td>
                    </tr>
                    <tr>
                      <td>
                        <strong>
                          <span
                            class="glyphicon glyphicon-envelope text-primary"
                          ></span>
                          Eksik Oyuncu
                        </strong>
                      </td>
                      <td class="text-primary">{{ match.missingPlayer }}</td>
                    </tr>
                  </tbody>

                  <!-- Delete Match -->
                  <button
                    v-on:click="deleteForm(match.pk)"
                    type="button"
                    class="btn btn-danger mr-4 ml-4"
                  >
                    <span v-if="!isBusyDelete"> DELETE </span>
                    <span
                      v-if="isBusyDelete"
                      class="spinner-button spinner-border"
                    ></span>
                  </button>
                  <!-- Update Match -->

                  <button
                    type="button"
                    class="btn btn-primary mr-4 ml-4"
                    @click="showUpdateModal(match)"
                  >
                    UPDATE
                  </button>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <update-modal
        :matchData="matchDetails"
        v-show="isUpdateModalVisible"
        @close="closeUpdateModal"
      />
    </div>
  </div>
</template>

<script>
import { deleteMatch } from "../services/match";
import UpdateModal from "../components/match/UpdateModal.vue";

export default {
  components: {
    UpdateModal,
  },
  name: "MatchDetail",
  data() {
    return {
      isBusy: true,
      isBusyDelete: false,
      isUpdateModalVisible: false,
      matchUpdateData: {},
      match: { url: "", headerImage: "" },
      matchDetails: [],
    };
  },

  props: ["matchPk"],

  async created() {
    this.getMatchDetails();
  },
  methods: {
    // UPDATE MODAL
    showUpdateModal(match) {
      this.matchUpdateData = match;
      this.isUpdateModalVisible = true;
    },
    closeUpdateModal() {
      this.isUpdateModalVisible = false;
      this.getMatchDetails();
    },
    // DELETE REQUEST
    deleteForm: async function (matchPk) {
      let deleteResponse;

      if (matchPk) {
        this.isBusyDelete = true;
        deleteResponse = await deleteMatch(matchPk);
        this.isBusyDelete = false;

        if (deleteResponse.error) {
          console.log(deleteResponse.error);
        } else {
          this.getMatchs();
        }
      }
    },
    // GET MATCH DETAİLS
    async getMatchDetails() {
      let response;
      let data;
      this.isBusy = true;

      // Blog Content
      try {
        response = await fetch(
          `http://localhost:1903/v1/matchs/${this.matchPk}`,
          {
            headers: {
              Authorization: "",
            },
          }
        );
        data = await response.json();

        if (response.status !== 200 || data.length < 1) {
          this.requestFailed = true;
        } else {
          this.matchDetails = data;
        }
      } catch (error) {
        this.requestFailed = true;
      }
      this.isBusy = false;
      this.match = data[0];
    },
  },
};
</script>

<style scoped>
.inf-content {
  border: 1px solid #dddddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}
.spinner-button {
  position: relative;
  left: 0%;
  width: 20px;
  height: 20px;
}
.spin {
  position: sticky;
  left: 40%;
  display: inline-block;
  width: 220px;
  height: 220px;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner,
.spinner::before,
.spinner::after {
  display: inline-block;
  border-color: transparent;
  animation-duration: 3.5s;
}
.img-circle {
  object-fit: cover;
  height: 60%;
  width: 100%;
}
</style>