<template>
  <div class="home">
    <div class="container">
      <div v-if="errors.length > 0">
        <div v-for="error in errors" v-bind:key="error.message">
          <p class="text-danger">{{ error.message }}</p>
        </div>
      </div>
      <nav class="navbar">
        <form class="form-inline offset-md-3">
          <input
            class="form-control col offset-md-5"
            type="search"
            placeholder="Search"
            name="q"
            aria-label="Search"
          />
          <button
            class="btn btn-outline-danger col-4 mt-1 offset-md-7"
            type="submit"
          >
            Oyuncu ara
          </button>
        </form>
      </nav>

      <!-- Add a new player -->
      <div>
        <button
          type="button"
          class="btn btn-dark col-md-4 offset-md-4"
          @click="showCreateModal()"
        >
          YENİ BİR OYUNCU OLUŞTUR
        </button>
        <create-modal
          v-if="!isBusyPost"
          v-show="isCreateModalVisible"
          @close="closeCreateModal"
        />
      </div>
      <!-- SPİNNER -->
      <div v-if="isBusy" class="spin spinner mt-4">
        <img class="spin spinner" src="../assets/ball2.png" />
      </div>
      <!-- Player List -->
      <div v-if="!isBusy" class="row">
        <div
          class="fut-player-card ml-5"
          v-for="player in players"
          v-bind:key="player.pk"
        >
          <div
            class="player-card-top"
            v-on:click="
              $router.push({
                name: 'PlayerDetail',
                params: { playerPk: player.pk },
              })
            "
          >
            <div class="player-master-info">
              <div class="player-rating"></div>
              <div class="player-position">
                <span>{{ player.positionPk.position }}</span>
              </div>
              <div class="player-nation">
                <img
                  v-bind:src="player.countryPk.imageUrl"
                  alt="Argentina"
                  draggable="false"
                />
              </div>
              <div class="player-club">
                <img
                  v-bind:src="player.teamPk.imageUrl"
                  alt="Barcelona"
                  draggable="false"
                />
              </div>
            </div>
            <div class="player-picture">
              <img
                v-bind:src="player.imageUrl"
                alt="Player"
                draggable="false"
              />
            </div>
          </div>
          <div class="player-card-bottom">
            <div class="player-info">
              <div class="player-name">
                <span>{{ player.name }}</span>
              </div>
              <!-- Player Features-->
              <div class="player-features">
                <div class="player-features-col">
                  <span>
                    <div class="player-feature-value">97</div>
                    <div class="player-feature-title">PAC</div>
                  </span>
                  <span>
                    <div class="player-feature-value">95</div>
                    <div class="player-feature-title">SHO</div>
                  </span>
                  <span>
                    <div class="player-feature-value">94</div>
                    <div class="player-feature-title">PAS</div>
                  </span>
                </div>
                <div class="player-features-col">
                  <span>
                    <div class="player-feature-value">99</div>
                    <div class="player-feature-title">DRI</div>
                  </span>
                  <span>
                    <div class="player-feature-value">35</div>
                    <div class="player-feature-title">DEF</div>
                  </span>
                  <span>
                    <div class="player-feature-value">68</div>
                    <div class="player-feature-title">PHY</div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CreateModal from "../components/player/CreateModal.vue";
import { getAllPlayers } from "../services/player";

export default {
  components: {
    CreateModal,
  },
  name: "Player",
  data() {
    return {
      isBusy: true,
      isBusyPost: false,
      requestFailed: false,
      name: null,
      surname: null,
      image: null,
      position: null,
      positionPk: null,
      countryPk: null,
      positionData: [],
      countryData: [],
      players: [],
      errors: [],
      postRequestFailed: false,
      formData: new FormData(),
      isUpdateModalVisible: false,
      isCreateModalVisible: false,
    };
  },
  async created() {
    this.getPlayers();
  },
  methods: {
    // CREATE MODAL
    showCreateModal() {
      this.isCreateModalVisible = true;
    },
    closeCreateModal() {
      this.isCreateModalVisible = false;
      this.getPlayers();
    },
    // GET PLAYERS
    async getPlayers() {
      let playerData;
      this.isBusy = true;
      playerData = await getAllPlayers();
      this.isBusy = false;
      if (playerData.data.length === 0) {
        this.errors.push({ message: "NO DATA" });
      } else {
        this.errors = [];
        this.players = playerData.data;
      }
    },

    filesChange(fieldName, fileList) {
      if (!fileList.length) return;
      this.formData.append(fieldName, fileList[0], fileList[0].name);
    },
  },
};
</script>

<style scoped>
.home {
  background-color: rgb(38, 187, 38);
}

.create {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Comic Sans", "Helvetica Neue", sans-serif;
}
.fut-player-card {
  position: relative;
  width: 300px;
  height: 485px;
  background-image: url(https://selimdoyranli.com/cdn/fut-player-card/img/card_bg.png);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 3.8rem 0;
  z-index: 2;
  -webkit-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.fut-player-card .player-card-top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e9cc74;
  padding: 0 1.5rem;
}

.fut-player-card .player-card-top .player-master-info {
  position: absolute;
  line-height: 2.2rem;
  font-weight: 300;
  padding: 1.5rem 0;
  text-transform: uppercase;
}

.fut-player-card .player-card-top .player-master-info .player-rating {
  font-size: 2rem;
}

.fut-player-card .player-card-top .player-master-info .player-position {
  font-size: 1.8rem;
}

.fut-player-card .player-card-top .player-master-info .player-nation {
  display: block;
  width: 3rem;
  height: 29px;
  margin: 1rem 0;
}

.fut-player-card .player-card-top .player-master-info .player-nation img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.fut-player-card .player-card-top .player-master-info .player-club {
  display: block;
  width: 2.9rem;
  height: 60px;
}

.fut-player-card .player-card-top .player-master-info .player-club img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.fut-player-card .player-card-top .player-picture {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}

.fut-player-card .player-card-top .player-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  position: relative;
  right: -1.5rem;
  bottom: 0;
}

.fut-player-card .player-card-top .player-picture .player-extra {
  position: absolute;
  right: 0;
  bottom: -0.5rem;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  height: 2rem;
  padding: 0 1.5rem;
  text-align: right;
  background: none;
}

.fut-player-card .player-card-top .player-picture .player-extra span {
  margin-left: 0.6rem;
  text-shadow: 2px 2px #333;
}

.fut-player-card .player-card-bottom {
  position: relative;
}

.fut-player-card .player-card-bottom .player-info {
  display: block;
  padding: 0.3rem 0;
  color: #e9cc74;
  width: 90%;
  margin: 0 auto;
  height: auto;
  position: relative;
  z-index: 2;
}

.fut-player-card .player-card-bottom .player-info .player-name {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(233, 204, 116, 0.1);
  padding-bottom: 0.3rem;
  overflow: hidden;
}

.fut-player-card .player-card-bottom .player-info .player-name span {
  display: block;
  text-shadow: 2px 2px #111;
}

.fut-player-card .player-card-bottom .player-info .player-features {
  margin: 0.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fut-player-card
  .player-card-bottom
  .player-info
  .player-features
  .player-features-col {
  border-right: 2px solid rgba(233, 204, 116, 0.1);
  padding: 0 2.3rem;
}

.fut-player-card
  .player-card-bottom
  .player-info
  .player-features
  .player-features-col
  span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.fut-player-card
  .player-card-bottom
  .player-info
  .player-features
  .player-features-col
  span
  .player-feature-value {
  margin-right: 0.3rem;
  font-weight: 700;
}

.fut-player-card
  .player-card-bottom
  .player-info
  .player-features
  .player-features-col
  span
  .player-feature-title {
  font-weight: 300;
}

.fut-player-card
  .player-card-bottom
  .player-info
  .player-features
  .player-features-col:last-child {
  border: 0;
}
.hata {
  text-align: center;
}
.spinner-button {
  position: relative;
  left: 0%;
  width: 20px;
  height: 20px;
}
.spin {
  position: sticky;
  left: 40%;
  display: inline-block;
  width: 220px;
  height: 220px;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner,
.spinner::before,
.spinner::after {
  display: inline-block;
  border-color: transparent;
  animation-duration: 3.5s;
}
</style>