<template>
  <div class="home">
    <!-- SPİNNER  -->
    <div v-if="isBusy" class="spin spinner mt-4">
      <img class="spin spinner" src="../assets/ball2.png" />
    </div>
    <!-- PLAYER DETAİL LİST -->
    <div
      v-for="player in playerDetails"
      v-bind:key="player.pk"
      id="user"
      class="container profile"
    >
      <div  v-if="!isBusy" class="row">
        <div class="col text-center mt-3">
          <img
            alt="picture"
            v-bind:src="player.imageUrl"
            class="img-lg rounded-circle border shadow"
          />
          <h2 class="mt-3">{{ player.name }}</h2>
        </div>
      </div>

      <div  v-if="!isBusy" class="row mt-2">
        <div class="col">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="true"
                >PROFİL</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="contact-tab"
                data-toggle="tab"
                href="#contact"
                role="tab"
                aria-controls="contact"
                aria-selected="false"
                >İLETİŞİM</a
              >
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <table class="table table-hover table-sm table-properties">
                <tr>
                  <th>SOYADI</th>
                  <td
                    style="
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      max-width: 20rem;
                    "
                  >
                    {{ player.surname }}
                  </td>
                </tr>
                <tr>
                  <th>YAŞ</th>
                  <td
                    style="
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      max-width: 20rem;
                    "
                  >
                    {{ player.age }}
                  </td>
                </tr>
                <tr>
                  <th>POZİSYON</th>
                  <td
                    style="
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      max-width: 20rem;
                    "
                  >
                    {{ player.positionPk.position }}
                  </td>
                </tr>
                <tr>
                  <th>ÜLKE</th>
                  <td
                    style="
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      max-width: 20rem;
                    "
                  >
                    {{ player.countryPk.name }}
                  </td>
                </tr>
                <tr>
                  <th>TAKIM</th>
                  <td
                    v-on:click="
                      $router.push({
                        name: 'TeamDetail',
                        params: { teamPk: player.teamPk.pk },
                      })
                    "
                    style="
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      max-width: 20rem;
                    "
                  >
                    {{ player.teamPk.name }}
                  </td>
                </tr>
                <tr>
                  <th>BOY</th>
                  <td
                    style="
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      max-width: 20rem;
                    "
                  >
                    {{ player.height }}
                  </td>
                </tr>
                <tr>
                  <th>KİLO</th>
                  <td
                    style="
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      max-width: 20rem;
                    "
                  >
                    {{ player.weight }}
                  </td>
                </tr>
                <hr />
                <div class="row">
                  <!-- Delete player -->
                  <button
                    v-on:click="deleteForm(player.pk)"
                    type="button"
                    class="col-4 btn btn-danger ml-4"
                  >
                    <span v-if="!isBusyDelete"> DELETE </span>
                    <span
                      v-if="isBusyDelete"
                      class="spinner-button spinner-border"
                    ></span>
                  </button>
                  <!-- Update player -->
                  <button
                    type="button"
                    class="col-4 btn btn-primary ml-4"
                    @click="showUpdateModal(player)"
                  >
                    UPDATE
                  </button>
                </div>
              </table>
            </div>

            <div
              class="tab-pane fade"
              id="contact"
              role="tabpanel"
              aria-labelledby="contact-tab"
            >
              <table class="table table-hover table-sm table-properties">
                <tr>
                  <th>EMAİL</th>
                  <td>{{ player.email }}</td>
                </tr>
                <tr>
                  <th>TELEFON NUMARASI</th>
                  <td>{{ player.phone }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <update-modal
      :playerData="playerUpdateData"
      v-show="isUpdateModalVisible"
      @close="closeUpdateModal"
    />
  </div>
</template>

<script>
import { deletePlayer } from "../services/player";
import UpdateModal from "../components/player/UpdateModal.vue";
export default {
  components: {
    UpdateModal,
  },
  name: "PlayerDetail",
  data() {
    return {
      isBusy: true,
      isBusyDelete: false,
      isUpdateModalVisible: false,
      playerUpdateData: {},
      player: { url: "", headerImage: "" },
      playerDetails: [],
    };
  },

  props: ["playerPk"],

  async created() {
    this.getPlayerDetails();
  },
  methods: {
    // UPDATE MODAL
    showUpdateModal(player) {
      this.playerUpdateData = player;
      this.isUpdateModalVisible = true;
    },
    closeUpdateModal() {
      this.isUpdateModalVisible = false;
      this.getPlayerDetails();
    },
    // DELETE REQUEST
    deleteForm: async function (playerPk) {
      let deleteResponse;

      if (playerPk) {
        this.isBusyDelete = true;
        deleteResponse = await deletePlayer(playerPk);
        this.isBusyDelete = false;

        if (deleteResponse.error) {
          console.log(deleteResponse.error);
        } else {
          this.getPlayer();
        }
      }
    },
    // GET PLAYER DETAİLS
    async getPlayerDetails() {
      let response;
      let data;
      this.isBusy = true;
      // Blog Content
      try {
        response = await fetch(
          `http://localhost:1903/v1/players/${this.playerPk}`,
          {
            headers: {
              Authorization: "",
            },
          }
        );
        data = await response.json();

        if (response.status !== 200 || data.length < 1) {
          this.requestFailed = true;
        } else {
          this.playerDetails = data;
        }
      } catch (error) {
        this.requestFailed = true;
      }
      this.isBusy = false;
      this.player = data[0];
    },
  },
};
</script>

<style scoped>
.profile .table-properties th {
  font-weight: normal;
  width: 15rem;
}

.profile .table-properties td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profile .table-properties tr:first-child td,
.profile .table-properties tr:first-child th {
  border-top: none !important;
}

.profile .img-lg {
  width: 9rem;
  height: 9rem;
}
.spinner-button {
  position: relative;
  left: 0%;
  width: 20px;
  height: 20px;
}
.spin {
  position: sticky;
  left: 40%;
  display: inline-block;
  width: 220px;
  height: 220px;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner,
.spinner::before,
.spinner::after {
  display: inline-block;
  border-color: transparent;
  animation-duration: 3.5s;
}
</style>