<template>
  <div class="home">
    <div class="container">
      <div v-if="errors.length > 0">
        <div v-for="error in errors" v-bind:key="error.message">
          <p class="text-danger">{{ error.message }}</p>
        </div>
      </div>

      <!-- Add a new team -->
      <div v-if="!isBusy">
        <button
          type="button"
          class="btn btn-dark col-md-4 offset-md-4 mt-4"
          @click="showCreateModal()"
        >
          CREATE A NEW TEAM
        </button>
        <create-modal
          v-if="!isBusyPost"
          v-show="isCreateModalVisible"
          @close="closeCreateModal"
        />
      </div>
      <!-- SPİNNER -->
      <div v-if="isBusy" class="spin spinner mt-4">
        <img class="spin spinner" src="../assets/ball2.png" />
      </div>
      <!-- Team List -->
      <h2 v-if="!isBusy" class="mainText mt-2 mb-2">Teams</h2>

      <div class="row">
        <div
          v-on:click="
            $router.push({
              name: 'TeamDetail',
              params: { teamPk: team.pk },
            })
          "
          class="card mb-4 col-6 col-md-4"
          v-for="team in teamData"
          v-bind:key="team.pk"
        >
          <img class="card-img-top" v-bind:src="team.imageUrl" alt />
          <p class="names">{{ team.name }}</p>

          <!-- Delete Team -->

          <button
            :disabled="isBusyPost"
            v-on:click="deleteForm(team.name)"
            type="button"
            class="btn btn-danger mr-4 ml-4"
          >
            <span v-if="!isBusyDelete"> DELETE </span>
            <span
              v-if="isBusyDelete"
              class="spinner-button spinner-border"
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CreateModal from "../components/team/CreateModal.vue";
import { getAllTeams } from "../services/team";
import { deleteTeam } from "../services/team";

export default {
  components: {
    CreateModal,
  },
  name: "Team",
  data() {
    return {
      isBusy: true,
      isBusyPost: false,
      isBusyDelete: false,
      requestFailed: false,
      name: null,
      image: null,
      teamData: [],
      teamPk: "",
      imageUrl: "",
      postRequestFailed: false,
      formData: new FormData(),
      isUpdateModalVisible: false,
      isCreateModalVisible: false,
      errors: [],
    };
  },
  async created() {
    this.getTeams();
  },
  methods: {
    // GET TEAMS
    async getTeams() {
      let teamData;
      this.isBusy = true;
      teamData = await getAllTeams();
      this.isBusy = false;
      if (teamData.data.length === 0) {
        this.errors.push({ message: "NO DATA" });
      } else {
        this.errors = [];
        this.teamData = teamData.data;
      }
    },
    // CREATE MODAL 
    showCreateModal() {
      this.isCreateModalVisible = true;
    },
    closeCreateModal() {
      this.isCreateModalVisible = false;
      this.getTeams();
    },

    // DELETE REQUEST
    deleteForm: async function (teamPk) {
      let deleteResponse;

      if (teamPk) {
        this.isBusyDelete = true;
        deleteResponse = await deleteTeam(teamPk);
        this.isBusyDelete = false;

        if (deleteResponse.error) {
          console.log(deleteResponse.error);
        } else {
          this.getTeams();
        }
      }
    },
  },
};
</script>

<style scoped>
.home {
  background-color: rgb(38, 187, 38);
}
.card-img-top {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card {
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 0px 0 #d4d4d5, 0 0 0 10px rgb(38, 187, 38);
}

.create {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Comic Sans", "Helvetica Neue", sans-serif;
}
.mainText {
  text-align: center;
}
.hata {
  text-align: center;
}
.spinner-border {
  position: relative;
  left: 40%;
  top: 30%;
  position: absolute;
  width: 200px;
  height: 200px;
}
.spinner-button {
  position: relative;
  left: 0%;
  width: 20px;
  height: 20px;
}
.spin {
  position: sticky;
  left: 40%;
  display: inline-block;
  width: 220px;
  height: 220px;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner,
.spinner::before,
.spinner::after {
  display: inline-block;
  border-color: transparent;
  animation-duration: 3.5s;
}
</style>