 <template>
  <div class="home">
    <!-- SPİNNER -->
    <div v-if="isBusy" class="spin spinner mt-4">
      <img class="spin spinner" src="../assets/ball2.png" />
    </div>
    <!-- TEAM DETAİL LİST -->
    <div
      v-for="(team, index) in teamDetails"
      v-bind:key="index"
      id="user"
      class="container profile"
    >
      <div class="row">
        <div class="col text-center mt-3">
          <img
            alt="picture"
            v-bind:src="team.imageUrl"
            class="img-lg rounded-circle border shadow"
          />
          <h2 class="mt-3">{{ team.name }}</h2>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="true"
                >PROFİL</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="contact-tab"
                data-toggle="tab"
                href="#contact"
                role="tab"
                aria-controls="contact"
                aria-selected="false"
                >İLETİŞİM</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="squad-tab"
                data-toggle="tab"
                href="#squad"
                role="tab"
                aria-controls="squad"
                aria-selected="false"
                >KADRO</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="statistic-tab"
                data-toggle="tab"
                href="#statistic"
                role="tab"
                aria-controls="statistic"
                aria-selected="false"
                >İSTATİSTİK</a
              >
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <table class="table table-hover table-sm table-properties">
                <tr>
                  <th>TAKIM ADI</th>
                  <td
                    style="
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      max-width: 20rem;
                    "
                  >
                    {{ team.name }}
                  </td>
                </tr>
                <tr>
                  <th>KURULUŞ</th>
                  <td
                    style="
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      max-width: 20rem;
                    "
                  >
                    {{ team.dateOfFoundation }}
                  </td>
                </tr>
                <tr>
                  <th>RENKLER</th>
                  <td
                    style="
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      max-width: 20rem;
                    "
                  >
                    {{ team.color1 }} - {{ team.color2 }}
                  </td>
                </tr>
                <tr>
                  <th>ÜLKE</th>
                  <td
                    style="
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      max-width: 20rem;
                    "
                  >
                    {{ team.countryPk.name }}
                  </td>
                </tr>
                <tr>
                  <th>ŞEHİR</th>
                  <td
                    style="
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      max-width: 20rem;
                    "
                  >
                    {{ team.city }}
                  </td>
                </tr>
                <!-- Update Team -->

                <button
                  type="button"
                  class="btn btn-primary mr-4 ml-4"
                  @click="showUpdateModal(team)"
                >
                  UPDATE
                </button>
              </table>
            </div>

            <div
              class="tab-pane fade"
              id="contact"
              role="tabpanel"
              aria-labelledby="contact-tab"
            >
              <table class="table table-hover table-sm table-properties">
                <tr>
                  <th>EMAİL</th>
                  <td>{{ team.email }}</td>
                </tr>
                <tr>
                  <th>TELEFON NUMARASI</th>
                  <td>{{ team.phone }}</td>
                </tr>
              </table>
            </div>
            <div
              class="tab-pane fade"
              id="squad"
              role="tabpanel"
              aria-labelledby="squad-tab"
            >
              <table class="table table-hover table-sm table-properties">
                <tr>
                  <th>SIRA</th>
                  <th>ADI</th>
                  <th>SOYADI</th>
                  <th>YAŞ</th>
                  <th>POZİSYON</th>
                  <th>BOY</th>
                  <th>KİLO</th>
                  <th>ÜLKE</th>
                </tr>
                <tr>
                  <th>{{ index + 1 }} -</th>
                  <td>{{ team.playerPk.name }}</td>
                  <td>{{ team.playerPk.surname }}</td>
                  <td>{{ team.playerPk.age }}</td>
                  <!-- <td>{{ team.playerPk.positionPk.position }}</td> -->
                  <td>{{ team.playerPk.height }}</td>
                  <td>{{ team.playerPk.weight }}</td>
                  <!-- <td>{{ team.playerPk.countryPk.name }}</td> -->
                </tr>
              </table>
            </div>
            <div
              class="tab-pane fade"
              id="statistic"
              role="tabpanel"
              aria-labelledby="statistic-tab"
            >
              <table class="table table-hover table-sm table-properties">
                <tr>
                  <th>MAÇ</th>
                  <th>GALİBİYET</th>
                  <th>MAĞLUBİYET</th>
                  <th>ATTIĞI GOL</th>
                  <th>YEDİĞİ GOL</th>
                  <th>PUAN(max.100)</th>
                  <th>BEĞENİ</th>
                </tr>
                <tr>
                  <td>34</td>
                  <td>32</td>
                  <td>2</td>
                  <td>165</td>
                  <td>58</td>
                  <td>98.6</td>
                  <td>356</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <update-modal
      :teamData="teamUpdateData"
      v-show="isUpdateModalVisible"
      @close="closeUpdateModal"
    />
  </div>
</template>

<script>
import UpdateModal from "../components/team/UpdateModal.vue";
export default {
  components: {
    UpdateModal,
  },
  name: "TeamDetail",
  data() {
    return {
      isBusy: true,
      isUpdateModalVisible: false,
      teamUpdateData: {},
      team: { url: "", headerImage: "" },
      teamDetails: [],
      errors: [],
    };
  },

  props: ["teamPk"],

  async created() {
    this.getTeamDetails();
  },
  methods: {
    // UPDATE MODAL
    showUpdateModal(team) {
      this.teamUpdateData = team;
      this.isUpdateModalVisible = true;
    },
    closeUpdateModal() {
      this.isUpdateModalVisible = false;
      this.getTeamDetails();
    },
    // GET TEAM DETAİLS
    async getTeamDetails() {
      let response;
      let data;
      this.isBusy = true;
      // Blog Content
      try {
        response = await fetch(
          `http://localhost:1903/v1/teams/${this.teamPk}`,
          {
            headers: {
              Authorization: "",
            },
          }
        );
        data = await response.json();

        if (response.status !== 200 || data.length < 1) {
          this.requestFailed = true;
        } else {
          this.teamDetails = data;
        }
      } catch (error) {
        this.requestFailed = true;
      }
      this.isBusy = false;
      this.team = data[0];
    },
  },
};
</script>

<style scoped>
.profile .table-properties th {
  font-weight: normal;
  width: 15rem;
}

.profile .table-properties td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profile .table-properties tr:first-child td,
.profile .table-properties tr:first-child th {
  border-top: none !important;
}

.profile .img-lg {
  width: 9rem;
  height: 9rem;
}
.spinner-button {
  position: relative;
  left: 0%;
  width: 20px;
  height: 20px;
}
.spin {
  position: sticky;
  left: 40%;
  display: inline-block;
  width: 220px;
  height: 220px;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner,
.spinner::before,
.spinner::after {
  display: inline-block;
  border-color: transparent;
  animation-duration: 3.5s;
}
</style>