<template>
  <div class="home">
    <div class="container">
      <h1>video detail</h1>
      <!-- Add videos -->
      <div>
        <button
          type="button"
          class="btn btn-dark col-md-4 offset-md-4 mt-4"
          @click="showCreateVideoModal()"
        >
          VİDEO EKLEYİN
        </button>
        <create-video-modal
          :matchData="matchDetails"
          v-show="isCreateVideoModalVisible"
          @close="closeCreateVideoModal"
        />
      </div>
    </div>
  </div>
</template>

<script>
import CreateVideoModal from "../components/match/CreateVideoModal.vue";

export default {
  components: {
    CreateVideoModal,
  },
  name: "Match",
  data() {
    return {
      isBusy: true,
      requestFailed: false,
      video: null,
      matchUpdateData: {},
      match: { url: "", headerVideo: "" },
      matchDetails: [],
      postRequestFailed: false,
      formData: new FormData(),
      isUpdateModalVisible: false,
      isCreateVideoModalVisible: false,
    };
  },
  props: ["matchPk"],
  async created() {
    this.getMatchDetails();
  },
  methods: {
    // CREATE MODAL
    showCreateVideoModal(match) {
      this.matchUpdateData = match;
      this.isCreateVideoModalVisible = true;
    },
    closeCreateVideoModal() {
      this.isCreateVideoModalVisible = false;
      this.getMatchDetails();
    },
    // GET MATCH DETAİLS
    async getMatchDetails() {
      let response;
      let data;
      this.isBusy = true;

      // Blog Content
      try {
        response = await fetch(
          `http://localhost:1903/v1/matchs/${this.matchPk}`,
          {
            headers: {
              Authorization: "",
            },
          }
        );
        data = await response.json();

        if (response.status !== 200 || data.length < 1) {
          this.requestFailed = true;
        } else {
          this.matchDetails = data;
        }
      } catch (error) {
        this.requestFailed = true;
      }
      this.isBusy = false;
      this.match = data[0];
    },
    filesChange(fieldName, fileList) {
      if (!fileList.length) return;
      this.formData.delete("video");
      this.formData.append(fieldName, fileList[0], fileList[0].name);
    },
  },
};
</script>

<style scoped>
.home {
  background-color: rgb(38, 187, 38);
}
</style>