<template>
  <div class="home">
    <div class="container">
      <h1>IMAGES PAGE</h1>
      <div v-for="match in matchs" v-bind:key="match.pk">
        <div class="col-12 timeline-breaker mt-3">{{ match.date }}</div>
        <div class="row">
          <div
            class="card mb-4 col-md-3 mt-4"
            v-for="match in match.matches"
            v-bind:key="match.pk"
            v-on:click="
              $router.push({
                name: 'VideoDetail',
                params: { matchPk: match.pk },
              })
            "
          >
            <img class="card-img-top" v-bind:src="match.firstTeamPk.imageUrl" />
            <img
              class="card-img-top"
              v-bind:src="match.secondTeamPk.imageUrl"
            />
            <div class="card-block">
              <h5 class="title mt-2">
                {{ match.firstTeamPk.name }} vs. {{ match.secondTeamPk.name }}
              </h5>
              <h6 class="detail">{{ getDateString(match.date) }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getAllMatchs } from "../services/match";
export default {
  data() {
    return {
      isBusy: true,
      errors: [],
      matchs: [],
    };
  },
  async created() {
    this.getMatchs();
  },
  methods: {
    // CHANGE DATE TYPE
    getDateString: function (date) {
      return new Date(date).toLocaleDateString();
    },
    // GET MATCHS
    async getMatchs() {
      let matchData;
      this.isBusy = true;
      matchData = await getAllMatchs();
      console.log(matchData);
      this.isBusy = false;

      if (matchData.data.length === 0) {
        this.errors.push({ message: "NO DATA" });
      } else {
        this.errors = [];
        this.matchs = matchData.data;
      }
    },
  },
};
</script>

<style scoped>
.home {
  background-color: rgb(38, 187, 38);
}
.title {
  text-align: center;
}
.detail {
  text-align: center;
}
.card-img-top {
  display: block;
  width: 100%;
  height: 70px;
  object-fit: cover;
}
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 50px 0 #d4d4d5, 0 0 0 10px rgb(38, 187, 38);
}
.timeline-breaker {
  background: #1b1b1b;
  color: #fff;
  font-weight: 600;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  padding: 0.6em;
  line-height: 1;
  display: block;
  width: 100%;
  max-width: 15em;
  clear: both;
}
</style>